services:
  frontend:
    container_name: nginx-frontend-container
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - '80:80'
    networks:
      - network
  backend:
    container_name: backend-container
    build:
      context: .
      dockerfile: ./server/Dockerfile
    env_file:
      - ./server/.env
    ports:
      - '8000:8000'
    networks:
      - network

networks:
  network:
