/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: '굴림', Gulim, Arial, sans-serif;
}

.text {
  color: #6200ee;
}

.menu-title {
  font-weight: bold; 
  text-decoration: underline;
}

.menu-background-layout {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  
  width: 100%; 
  height: 100%; 
  background-color: #6200ee;
}

.menu-signup-layout {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 600px; 
  height: 70%; 
  background-color: white; 
  border-radius: 10px;
  padding: 50px;
}

.menu-login-layout {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 600px; 
  height: 40%; 
  background-color: white; 
  border-radius: 10px;
  padding: 50px;
}

.menu-form-layout {
  width: 50%; 
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.menu-textfield {
  width: 100%; 
  margin-bottom: 20px;
}

#chat-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

#chat-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-color: #eeeeee;
  z-index: 1;
}

.chat-menu-icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chat-menu-icon div:nth-child(1) {
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chat-menu-icon div:nth-child(2) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.chat-menu-icon div .material-icons {
  margin-bottom: 40px;
}

#chat-header {
  position: fixed;
  top: 0;
  left: 100px;
  right: 0;
  height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 1;
  background-color: #6200ee;
}

.chat-header-icon {
  height: 100%;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end; 
  align-items: center;
  z-index: 50;
}

#chat-body {
  position: fixed;
  left: 100px;
  top: 70px;
  width: calc(100% - 100px);
  height: calc(100% - 70px);
}

.chat-body-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.chat-body-list {
  width: 100%;
  min-width: 150px;
  height: 100%;
  overflow: auto;
  border-left: 1px solid #e0e0e0;
}

.chat-body-detail {
  /* width: 3000px; */
  height: 100%;
  /* resize: horizontal; */
  overflow: auto;
}

.chat-body-detail-summary {
  position: sticky;
  background-color: #ffffff;
  top: 0;
  left: 0;
  height: 50px;
  padding-left: 15px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.chat-body-detail-summary div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.chat-body-detail-view {
  height: calc(100% - 66px);
  padding-top: 15px;
  padding-left: 15px;
  border-left: 1px solid #e0e0e0;
  overflow: auto;
}

.chat-body-info {
  width: 700px;
  min-width: 300px;
  right: 0;
  height: 100%;
}

.chat-body-info-summary {
  position: sticky;
  background-color: #ffffff;
  top: 0;
  left: 0;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.chat-body-info-summary div {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  height: 100%;
}

.chat-body-info-view {
  height: calc(100% - 66px);
  padding-top: 15px;
  border-left: 1px solid #e0e0e0;
  overflow: auto;
}

.following-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.following-list:hover {
  background-color: #f5f5f5;
}

.following-profile-default {
  width: 40px; 
  height: 40px; 
  margin: 0 10px 0 0;
  border-radius: 50%; 
  background-color: #81d4fa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.following-profile {
  width: 40px; 
  height: 40px; 
  margin: 0 10px 0 0; 
  border-radius: 50%; 
}