<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>실시간 채팅</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/chat.js') }}"></script>
</head>
<body>
    <h1>HTML5 WebSocket Chat</h1>
    <input type="text" id="text-view" />
    <input type="button" id="send-button" value="Send" />
    <input type="button" id="stop-button" value="Stop" />
    <span>
        <input type="text" id="invite-user-id" />
        <input type="button" id="invite-user" value="유저 초대" />
    </span>
    <br/>
    <label id="status-label">Status</label>
</body>
</html>
