aioredis==2.0.1
aioredis-cluster==2.3.1
alembic==1.7.7
anyio==3.5.0
asgiref==3.5.0
async-generator==1.10
async-timeout==4.0.2
asyncmy==0.2.7
asyncpg==0.26.0
attrs==22.2.0
bcrypt==3.2.2
boto3==1.26.16
botocore==1.29.16
certifi==2022.12.7
cffi==1.15.1
click==8.1.2
cryptography==37.0.4
Deprecated==1.2.13
ecdsa==0.18.0
exceptiongroup==1.1.1
fastapi==0.87.0
fastapi-sessions==0.3.2
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
hiredis==2.2.2
httpcore==0.16.3
httptools==0.4.0
httpx==0.23.3
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.1
kafka-python==2.0.2
Mako==1.2.0
MarkupSafe==2.1.1
outcome==1.2.0
packaging==21.3
passlib==1.7.4
pdf2image==1.16.0
phonenumbers==8.13.2
Pillow==9.3.0
pluggy==1.0.0
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
PyMySQL==1.0.2
pyparsing==3.0.9
pytest==7.2.2
pytest-asyncio==0.20.3
pytest-dotenv==0.5.2
python-dateutil==2.8.2
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
pytz==2022.1
PyYAML==6.0
rfc3986==1.5.0
rsa==4.9
s3transfer==0.6.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.44
SQLAlchemy-Utils==0.38.3
starlette==0.21.0
tomli==2.0.1
trio==0.22.0
typing_extensions==4.2.0
urllib3==1.26.13
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.2
websockets==10.3
wrapt==1.14.1
zipp==3.8.0
